.list-wrapper {
  #todo_list {
    list-style:decimal;
    height: 22em;
    overflow-y: scroll;
    background: #efefef;

    li {
      background: #fff;
      height: 2em;
      line-height: 1;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 2.5em;
      border-bottom: 1px solid rgba(0,0,0,0.5);
      box-sizing: border-box;
      counter-increment: step-counter;

      &:before {
        content: counter(step-counter)'.';
        position: absolute;
        right: 2em;
        width: 1em;
        text-align: left;
        font-weight:bold;
      }

      &.completed {
        background: $complete;
        color: grey;
        .right{
          text-decoration: line-through;
        }
       &:before {
         text-decoration: line-through;
       }
      }

      .right {
        position: relative;
        padding-right: 3em;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        label {
          display: block;
          padding:0
        }
        .edit {
          font-size: 0.8em;
          width: 80%;
        }

        .edit,.title {
          display: block;
          height: 2em;
          line-height: 2em;
          margin-right: 2px;
        }

      }

      .checkbox-label {
        position: relative;
        padding-right: 1em;
        position: absolute;
        width: 1.25em;
        height: 1.25em;
        background: #efefee;
        right: 0.2em;
        box-sizing: border-box;
        border: 1px solid grey;
        border-radius: 5px;
        input {
          display:none;
        }

        &.checked {
          background: grey;
        }

      }

      .destroy {
        padding: 0.5em;
        text-align: center;
        border: 0;
        background: 0;
        font-weight: bold;
        font-size: 0.7em;
        margin-left: 1em;
        transition: opacity 0.3s ease;

        &.hidden {
          opacity: 0;
          transition: opacity 0.3s ease;
        }
      }
    }
  }
}